/* WPLaunchKit Admin Styles */

.toplevel_page_wplk .form-table th {
    width: 500px;
    padding-left: 10px;
}

 .toplevel_page_wplk h2:after {
    background: #dedede;
    content: "";
    display: block;
    height: 1px;
    margin-top: 10px;
}

.wplk-dashboard__header {
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100% - 20px);
}

.wplk-success {
    border-left: 5px solid #aaa;
    padding-left: 10px;
    line-height: 30px;
    background: #fcfcfc;
}

.wplk-dashboard__logo {
    max-height: 30px;
    max-width: 200px;
}

.wplk-dashboard__version {
    line-height: 1;
    padding: 6px 12px;
    background: #f1f1f1;
    color: #666;
    font-weight: 500;
    border-radius: 999px;
}

.wplk-dashboard__content {
    margin: 25px 0;
    width: calc(100% - 20px);
}

.wplk-inner {
    max-width: 800px;
    padding: 30px;
    background: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
    position: relative;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px;
    outline: none;
    border-radius: calc(1px);
}

#wplk-page nav.nav-tab-wrapper {
    background: #fff;
    border-top: 1px solid #dedede;
    padding-left: 20px;
}

#wplk-page a.nav-tab {
    border: none;
    background: transparent;
    padding: 0 10px 5px 0;
    font-size: 13px;
    line-height: 2.5em;
    float: none;
    margin-left: 0;
}

#wplk-page .nav-tab-active, 
#wplk-page .nav-tab-active:focus, 
#wplk-page .nav-tab-active:focus:active, 
#wplk-page .nav-tab-active:hover {
    border-bottom: 4px solid #e55b10 !important;
 }

.wplk-wrap {
    margin-left: 20px;
}

.wplk-wrap a.nav-tab:hover {
    color: #e55b10;
 }

.wplk-wrap .wp-core-ui .button-primary {
    background: #e55b10;
    border-color: #e55b10;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}

.wplk-wrap .wp-core-ui .button-primary.focus, 
.wplk-wrap .wp-core-ui .button-primary.hover, 
.wplk-wrap .wp-core-ui .button-primary:focus, 
.wplk-wrap .wp-core-ui .button-primary:hover {
    background: #012888;
    border-color: #012888;
    color: #fff;
}

.wplk-wrap .wplk-downloads {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    margin: 40px 0 0 0;
}

.wplk-wrap .wplk-downloads li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 40px;
    margin-bottom: 40px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 20px 30px rgb(143 163 184 / 15%);
    transition: all .25s ease;
    border: 1px solid #dedede;
}

.wplk-wrap .wplk-button {
    color: rgba(46,68,83,.8);
    background: #fff;
    border-color: #e2e6eb;
    box-shadow: 0 1px 3px rgb(0 0 0 / 4%);
}

.wplk-wrap a.wplk-button.wplk-featured {
    background: #e55b10;;
    color: #fff;
}

.wplk-wrap a.wplk-button.wplk-featured:hover {
    box-shadow: 0 1px 4px #240e014a;
    border: 1px solid #e55b10;
    color: #fff;
}

.wplk-wrap [class*=wplk-button] {
    min-width: 150px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--buttonHeight, 35px);
    padding: 0 var(--buttonPadding, 15px);
    font-size: var(--buttonFontSize, 13px);
    font-weight: 500;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    letter-spacing: .01em;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    transition: color .2s ease,background .2s ease,transform .2s ease,border-color .2s ease,box-shadow .2s ease;
}

@media (min-width: 783px) {
.wplk-wrap .wplk-cta-container, 
.wplk-wrap .wplk-settings-container {
    padding: 50px;
}
}

.wplk-wrap .wplk-cta-container, 
.wplk-wrap .wplk-settings-container {
    text-align: center;
    border-radius: 3px;
    border: 1px solid #dedede;
    margin-bottom: 40px;
    box-shadow: 0 20px 30px rgb(143 163 184 / 15%);
}

.wplk-wrap .wplk-downloads p {
    min-height: 60px;
}

.wplk-wrap a:active, 
.wplk-wrap a:hover {
    color: #e55b10;
}

.wplk-wrap a.sponsor,
.wplk-wrap a.sponsor:hover,
.wplk-wrap .wplk-settings-container p a,
.wplk-wrap .wplk-settings-container p a:active, 
.wplk-wrap .wplk-settings-container p a:hover {
    color: #e55b10;
    text-decoration: none;
}

.wplk-wrap .wplk-settings-container p a.button.button-primary {
    color: #fff;
}

.wplk-wrap span.dashicons.dashicons-update {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.wplk-settings-container table.form-table tr:first-child {
    background: #f1f1f1;
}

.wplk-notice {
    border-left-color: red !important;
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 5px 15px 5px 0;
    padding: 1px 12px;
}

.toplevel_page_wplk #wpcontent {
    padding-left: 0;
}

.wplk-wrap #install_selected, .wplk-wrap #launchkit-cleanup-button {
    margin-bottom: 10px;
}

.wplk-wrap #launchkit-summary {
    margin-bottom: 15px;
}

.wplk-wrap .nav-tab-wrapper-more a.nav-tab {
    display: block;
    margin-bottom: -10px;
    margin-top: 10px;
}